* {
    outline: none;
    border: none;
    box-sizing: border-box;
    animation: fadeIn 1s;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 5rem 2rem; 

    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.container .content{
    color: #ccc;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}