.container {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.skill-card {
    background: #111;
    border-radius: 12px;
    padding: 1rem;
    transition: 0.3s;
    border: 1px solid rgba(255,255,255,0.05);
    align-self: start;
    overflow: visible;
}

.skill-card:hover {
    transform: translateY(-4px);
    border-color: #1d4ed8;
}

.card-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.card-header h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.toggle {
    color: #1d4ed8;
    font-size: 20px;
}

.card-body {
    margin-top: 12px;
}

.node-children {
    margin-left: 12px;
    margin-top: 8px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tag-group {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.skill-tag {
    background: rgba(29, 78, 216, 0.15);
    color: #60a5fa;

    padding: 6px 12px;
    border-radius: 999px;

    font-size: 12px;
    font-weight: 500;

    border: 1px solid rgba(29, 78, 216, 0.3);

    transition: all 0.2s ease;
    cursor: pointer;
}

.skill-tag:hover {
    background: #1d4ed8;
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(29, 78, 216, 0.4);
}